@model Zoo_template.Models.TCage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>

<h1 class="text-center mb-3">Xóa Chuồng</h1>

<div class="container">
    <div class="card shadow-sm p-3">
        <h4 class="card-title text-center mb-3">Bạn có chắc chắn muốn xóa không?</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MaxQuantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaxQuantity)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Area)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Area.AreaId)
            </dd>
        </dl>

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="CageId" />
            <input type="submit" value="Xóa" class="btn btn-danger px-3" />
            <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại danh sách</a>
        </form>
    </div>
</div>
