@model Zoo_template.Models.TCage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>

<h1 class="text-center mb-3">Chi Tiết Chuồng</h1>

<div class="container">
    <div class="card shadow-sm p-3">
        <h4 class="card-title text-center mb-3">Thông Tin Chi Tiết</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MaxQuantity)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaxQuantity)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Area)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Area.AreaId)
            </dd>
        </dl>

        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.CageId" class="btn btn-primary px-3">Chỉnh sửa</a>
            <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại danh sách</a>
        </div>
    </div>
</div>
