@model Zoo_template.Models.TAnimal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>

<h1 class="text-center mb-3">Chi Tiết Động Vật</h1>

<div class="container">
    <div class="card shadow-sm p-3">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ScienName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ScienName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeIn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeIn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeOut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeOut)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img src="/images/@Model.Image" alt="Animal Image" class="img-fluid" style="max-width: 200px;" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cage.CageId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Food)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Food.FoodName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Species)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Species.SpeciesName)
            </dd>
        </dl>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.AnimalId" class="btn btn-warning px-3">Chỉnh sửa</a>
        <a asp-action="Index" asp-route-id="@Model?.CageId" class="btn btn-secondary mx-2">Quay lại danh sách</a>
    </div>
</div>
