@model IEnumerable<Zoo_template.Models.TAnimal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Animal in cage</h1>

<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
        <input id="keyword" class="form-control" name="keyword"
               type="text" placeholder="Search Employee" />
        <button id="btnSearch" class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<div id="content">
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScienName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScienName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <img src="~/images/@item.Image" width="200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species.SpeciesName)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a> 
                    
                    </td>
                
        </tr>
}
    </tbody>
</table>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.pageNum; i++)
        {
            <li class="page-item" page="@i">
                <a class="page-link" href="javascript:void(0);">@i</a>
            </li>
        }
    </ul>
</div>
<p>
    <a asp-action="Create" >Create New</a>
</p>
<p>
    <a href="http://localhost:5249/TCages">Cage Information</a>
</p>


@section Scripts {
    <script>
        $('body').on('click', 'li.page-item', function () {
            const page = $(this).attr("page");
            const keyword = $('#keyword').val();

            $.ajax({
                url: '@Url.Action("AnimalFilter", "TAnimals")',
                data: { keyword: keyword, pageIndex: page },
                success: function (response) {
                    $("div#content").html(response); // Replace only the content area
                }
            });
        });

        $('button#btnSearch').click(function () {
            const keyword = $('#keyword').val();

            $.ajax({
                url: '@Url.Action("AnimalFilter", "TAnimals")',
                data: { keyword: keyword },
                success: function (response) {
                    $("div#content").html(response); // Replace only the content area
                }
            });
        });
    </script>
}