@model Zoo_template.Models.TEmployee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>
<h1 class="text-center mb-3">Xóa Nhân Viên</h1>

<div class="container">
    <div class="card shadow-sm p-3">
        <h4 class="card-title text-center mb-3">Bạn có chắc chắn muốn xóa nhân viên này không?</h4>
        <dl class="row">
            <!-- Tên -->
            <dt class="col-sm-4">Tên</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

            <!-- Giới Tính -->
            <dt class="col-sm-4">Giới Tính</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Gender)</dd>

            <!-- Số Điện Thoại -->
            <dt class="col-sm-4">Số Điện Thoại</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <!-- Địa Chỉ -->
            <dt class="col-sm-4">Địa Chỉ</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

            <!-- Tình Trạng Công Việc -->
            <dt class="col-sm-4">Tình Trạng Công Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.OnWork)</dd>

            <!-- Khu Vực Làm Việc -->
            <dt class="col-sm-4">Khu Vực Làm Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ResAreaNavigation.AreaName)</dd>

            <!-- Ca Làm Việc -->
            <dt class="col-sm-4">Ca Làm Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Shift.Name)</dd>
        </dl>

        <!-- Form Xóa và Điều Hướng Quay Lại -->
        <form asp-action="Delete" class="text-center mt-3">
            <input type="hidden" asp-for="EmployeeId" />
            <input type="submit" value="Xóa" class="btn btn-danger px-4" />
            <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại danh sách</a>
        </form>
    </div>
</div>