@model Zoo_template.Models.TEmployee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>
<h1 class="text-center mb-3">Chi Tiết Nhân Viên</h1>

<div class="container">
    <div class="card shadow-sm p-3">
        <h4 class="card-title text-center mb-3">Thông Tin Nhân Viên</h4>
        <dl class="row">
            <!-- Tên -->
            <dt class="col-sm-4">Tên</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

            <!-- Giới Tính -->
            <dt class="col-sm-4">Giới Tính</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Gender)</dd>

            <!-- Số Điện Thoại -->
            <dt class="col-sm-4">Số Điện Thoại</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <!-- Địa Chỉ -->
            <dt class="col-sm-4">Địa Chỉ</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

            <!-- Tình Trạng Công Việc -->
            <dt class="col-sm-4">Tình Trạng Công Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.OnWork)</dd>

            <!-- Khu Vực Làm Việc -->
            <dt class="col-sm-4">Khu Vực Làm Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ResAreaNavigation.AreaName)</dd>

            <!-- Ca Làm Việc -->
            <dt class="col-sm-4">Ca Làm Việc</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Shift.Name)</dd>
        </dl>

        <!-- Nút Chỉnh Sửa và Quay Lại -->
        <div class="text-center mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-primary px-3">Chỉnh Sửa</a>
            <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại danh sách</a>
        </div>
    </div>
</div>