@model IEnumerable<Zoo_template.Models.TEmployee>
<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.OnWork)</th>
            <th>@Html.DisplayNameFor(model => model.ResAreaNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.Shift)</th>
            @if (Context.Session.GetString("user") == "Admin")
            {
                <th class="text-center">Hành động</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    @if (item.OnWork == true)
                    {
                        <span class="badge bg-success">Đang làm</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Nghỉ</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.ResAreaNavigation.AreaName)</td>
                <td>@Html.DisplayFor(modelItem => item.Shift.Name)</td>
                @if (Context.Session.GetString("user") == "Admin")
                {
                    <td class="text-center">
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.EmployeeId">Sửa</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.EmployeeId">Chi tiết</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.EmployeeId">Xóa</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item" page="@i">
            <a class="page-link" href="javascript:void(0);">@i</a>
        </li>
    }
</ul>

