@model Zoo_template.Models.TGuest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>
<<h1 class="text-center mb-4">Delete</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div class="container">
    <h4 class="mt-4">TGuest Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PayMethodNavigation.MethodName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PayMethodNavigation.MethodName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ticket.TicketName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ticket.TicketName)
        </dd>
    </dl>

    <form asp-action="Delete" method="post" class="text-center">
        <input type="hidden" asp-for="GuestId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
