@model Zoo_template.Models.TGuest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/form.css" rel="stylesheet" />
</head>
<h1 class="text-center mb-4">Chi tiết</h1>

<div class="container">
    <h4 class="mt-4">Chi tiết khách hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PayMethodNavigation.MethodName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PayMethodNavigation.MethodName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ticket.TicketName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ticket.TicketName)
        </dd>
    </dl>

    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.GuestId" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
